<div class="adapter item-check-adapter @DisabledCss" style="@Style" @onclick="OnAdapterClick" disabled="@Disabled">
    <div class="adapter-buttons top-adapter">
        <Checkbox Checked="@Check" CheckedChanged="OnValueChange" Disabled="@Disabled" ></Checkbox>
    </div>
</div>
