<div>
    <input type="date" class="@Class" required="required" style="@Style" @onchange="@OnValueChanged" value="@Value?.ToString("yyyyy-MM-dd")" placeholder="@PlaceHolder">
    <div class="error-container">
        <label class="lb-error">@_errorMessage</label>
    </div>
</div>
