<div class="@Class">
    <input type="@Type" @bind-value="@Text" @oninput="OnValueChange" @onclick="OnClickHandler" @onkeydown="OnKeyDownHandler" autofocus="@Autofocus" id="@Id" class="text-box @InputClass" name="@Name" disabled="@Disabled" readonly="@ReadOnly" placeholder="@Placeholder" maxlength="@MaxLenght" style="@Style">
    <div class="error-container">
        <label class="lb-error">@_errorMessage</label>
    </div>
</div>
